.conteinerClass {
  display: grid;
  grid-template-areas: 'navbar navbar'
    'header header'
    'content lateral'
    'footer footer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  background-color: rgb(111, 197, 231);
  width: 1fr;

}

.navbarConteiner {
  grid-area: navbar;
}

.headerConteiner {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.contentConteiner {
  grid-area: content;
  margin: 0;
  padding: 5px;
}

.lateralConteiner {
  grid-area: lateral;
  display: flex;
  justify-content: center;
}

.footerConteiner {
  grid-area: footer;
}