.conteinerClass {
  display: grid;
  grid-template-areas: 'navbar navbar'
    'header header'
    'content lateral'
    'footer footer';
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  background-color:  rgb(120, 201, 255);
}

.navbarConteiner {
  grid-area: navbar;
}

.headerConteiner {
  grid-area: header;

}

.contentConteiner {
  grid-area: content;
  width: 80%;
}
.lateralConteiner {
  grid-area: lateral;
  width: 20%;
}

.footerConteiner {
  margin-top: 20px;
  grid-area: footer;
}
@media (max-width: 1400px) {
  .contentConteiner {
    grid-area: content;
    width: 70% !important;
    margin: 0;
  }
  .lateralConteiner {
    grid-area: lateral;
    width: 35%;
  }
}

@media (max-width: 900px) {
  .conteinerClass {
    grid-template-areas: 'navbar navbar'
      'header header'
      'content content'
      'lateral lateral'
      'footer footer';
  }
  .contentConteiner {
    width: 100%;
  }
  .lateralConteiner {
    grid-area: lateral;
    width: 100%;
  }
}
